<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Update <%= data.first_name %> <%= data.last_name %></title>
</head>
<body>
    <h1>Data of <%= data.first_name %> <%= data.last_name %></h1>
    <form action="/update_user" method="POST" autocomplete="off">
        <input type="hidden" name="id" value="<%= data.id %>">
        <div class="form__group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" value="<%= data.first_name %>">
        </div>
        <div class="form__group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value="<%= data.last_name %>">
        </div>
        <div class="form__group">
            <label for="gender">Gender</label>
            <select name="gender" id="gender">
<% if(data.gender == "male") { %>
                <option value="male" selected>Male</option>
                <option value="female">Female</option>
<% } else { %>
                <option value="female" selected>Female</option>
                <option value="male">Male</option>
<% } %>
            </select>
        </div>
<%
const date = new Date(data.birthday);
const year = date.getFullYear();
<!-- getMonth method starts from 0, so we add 1-->
const mFormat = date.getMonth() + 1;
const month = mFormat < 10 ? `0${mFormat}` : mFormat;
const day = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
%>
        <div class="form__group">
            <label for="birthday">Birthday</label>
            <!-- The Date Input accepts this format (yyyy-mm-dd) but displays this format (dd/mm/yyyy) -->
            <input type="date" name="birthday" id="birthday" value="<%=year%>-<%=month%>-<%=day%>">
        </div>
        <input type="submit" value="Update" class="button">
    </form>
<% if(error != "") { %>
    <h2 class="error"><%= error %></h2>
<% } %>

</body>
</html>